@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
* {
  box-sizing: border-box;
}


body  {
  color: $color-purple-dark;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}
