.gameboard-instructions {
  // border: 1px solid black;
  display        : block;
  height         : 100px;
  list-style-type: none;
  margin         : 0;
  min-height     : 100px;
  overflow       : hidden;
  padding        : 10px;
}
.gameboard-instructions__btn {
  background-color: $color-purple;
  border          : 1px solid $color-dark;
  border-radius   : 15px;
  box-shadow      : 1px 2px 3px rgba($color-dark, 0.5);
  color           : $color-white;
  display         : inline-block;
  font-size       : 16px;
  height          : 50px;
  margin          : 10px;
  outline-color   : $color-white;
  width           : 100px;
  transition      : all 0.3s ease-in-out;
}
.gameboard-instructions__btn:hover {
  background: linear-gradient(160deg, $color-purple, lighten($color-purple, 20%));
  // background-color: lighten($color-purple,15%);
}
.gameboard-instructions__btn--hide {
  display: none;
}
.gameboard-instructions__card {
  display   : inline-block;
  height    : 100%;
  text-align: center;
  transform : translateX(100%);
  width     : 100%;
}
// .gameboard-instructions__card--active {
//   display: inline-block;
// }
.gameboard-instructions__card--hide {
  display: none;
}
.gameboard-instructions__card--stats {
  align-items    : center;
  display        : flex;
  justify-content: space-around;
  margin         : 0;
}
.gameboard-instructions__img-container {
  align-items     : center;
  background-color: lighten($color-purple, 15%);
  border          : 2px solid $color-dark;
  border-radius   : 50%;
  box-shadow      : 1px 2px 3px rgba($color-dark, 0.5);
  display         : flex;
  font-weight     : bold;
  min-height      : 50px;
  justify-content : center;
  overflow        : hidden;
  margin          : 0 80px;
  min-width       : 50px;
}
.gameboard-instructions__img-container--active {
  background: linear-gradient(260deg, yellow, lighten($color-green, 15%));
}
.gameboard-instructions__game-state-container {
  align-items    : center;
  display        : flex;
  flex-direction : column;
  justify-content: center;
}
.gameboard-instructions__game-state-container__state {
  color      : $color-purple;
  font-size  : 24px;
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba($color-dark, 0.5);
}
.gameboard-instructions--hide {
  display: none;
}
